@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="d-flex align-items-center justify-content-around mt-2">
        <div>
            <div class="fw-bold display-5">
                Welcome to
            </div>
            <div class="fw-bold display-4">
                Bulky Book Store!!!
            </div>
        </div>
        <div class="mt-5">
            <img src="~/images/NewFolder/undraw_book_lover_re_rwjy.svg" />
        </div>
    </div>
</div>
