
@model IEnumerable<CoverType>


@{
    ViewData["Title"] = "Index";
}

<div class="w-100 d-flex justify-content-between my-3">
    <h1>Cover Types</h1>
    <div class="btn-group">
        <a class="rounded-3 bg-light text-dark fw-semibold text-decoration-none d-flex justify-content-center align-items-center px-2" asp-controller="CoverType" asp-action="Create">Create cover type</a>
    </div>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(CoverType obj in Model)
        {
            <tr>
                <td>@obj.Id.ToString()</td>
                <td>@obj.Name</td>
                <td>
                    <a asp-controller="CoverType" asp-action="Edit" asp-route-id="@obj.Id">Edit</a>
                    <a asp-controller="CoverType" asp-action="Delete" asp-route-id="@obj.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

